/* body {
    background: linear-gradient(#220d8e 25%, #3e20d6 25%, #674afa 50%);
} */
body{
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 330vh; */
    background: linear-gradient(0deg, rgba(85,166,184,1) 0%, rgba(43,114,177,1) 65%);
}
.carrousel-inner{
    width: 100%;
}

.carousel-item {
    width: 100%;
    height: 100vh;
    position: relative;
}
.carousel-caption {
    margin-bottom: 15em;
}


.carousel-item::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(85,166,184,0) 75%, rgba(43,114,177,1) 100%);
}

.sinopsispp {
    padding-bottom: 1em; 
    text-shadow: 4px 4px 6px rgb(0 0 0 / 80%);
}




/* Fer */

.title{
    color: white;
    opacity: 0.9;
    margin-top: 2em;
    margin-left: 2.5em;
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.24);
}
.movies-list{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 220px;
    margin-bottom: 5em;
    position: relative;
}
.card-container{
    position: absolute;
    width: 92%;
    height: 220px;
    display: flex;
    margin: 15px 50px 50px 50px;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar{
    display: none;
    
}
.card{
    position: relative;
    min-width: 170px;
    height: 200px;
    border-radius: 3px;
    border: none;
    overflow: hidden;
    margin-right: 10px;
    transition: .5s;    
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card:hover{
    transform: scale(1.1);
}

.card:hover .card-body{
    opacity: 1;
}

.card-body{
    
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    background: rgba(61, 61, 61, 0.712);
    transition: 0.5ms;
}

.movie-tittle{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    /*display: flex;
    justify-content: center;*/
    text-align: center;
    padding: 1em;
    text-shadow: 4px 4px 6px rgb(0 0 0 / 90%);
}
.des{
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    padding-left: 8px;
    margin: 0;
    text-shadow: 4px 4px 6px rgb(0 0 0 / 80%);    
}
.watchlist-btn{
    position: absolute;
    width: 70%;
    bottom: 5%;
    border: none;
    font-weight: 500;  
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 1em 1em 1em 0.6em;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 3px;
}

.watchlist-btn:hover{
    color: #fff;
    background:rgb(253, 253, 253, 0.4);
}

.flecha-izq, .flecha-der {
    position: absolute;
    background: transparent;
    margin-top: 0.4em;
    border: none;
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: auto;
    width: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
    text-shadow: 4px 4px 6px rgb(0 0 0 / 100%);
}

.card-body a{
    text-decoration: none;
    color:black;
}

.card-body a:hover{
    text-decoration: none;
    color:white;
}

.flecha-izq {
    left: 0;
    margin-left: 1.5em;
}

.flecha-der {
    right: 0;
    margin-right: 1.5em;
}


/* Media Queries */

@media (min-aspect-ratio: 16/9){
    .card {
         width: 100%;
         height: auto;
     }
     .carousel-item {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .carousel-item::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(180deg, rgba(85,166,184,0) 75%, rgba(43,114,177,1) 100%);
    }
}

@media screen and (max-width: 768px){
    .carousel-control-prev-icon, .carousel-control-next-icon{
        visibility: hidden;
    }

    .carousel-item{
        width: 100%;
        height: 100%;
    }

    .carousel-caption {
        margin-bottom: 1em;
    }

    .card {
        width: 90%;
        height: auto;
    }

    .caroubtn1 {
        font-size: 1em;  
    }

    .caroubtn2{
        font-size: 1em;
    }

    .title{
        margin-left: 1.4em;
    }
    
    .flecha-izq {
        left: 0;
        margin-left: 1em;
    }
    
    .flecha-der {
        right: 0;
        margin-right: 1em;
    }
}

@media screen and (max-width: 480px){
    .carousel-control-prev-icon, .carousel-control-next-icon{
        visibility: hidden;
    }

    .carousel-item{
        width: 100%;
        height: 100%;
    }

    .carousel-caption {
        margin-bottom: 0.5em;
    }

    .card {
        width: 80%;
        height: auto;
    }

    .caroubtn1 {
        font-size: 0.5em;  
    }

    .caroubtn2{
        font-size: 0.5em;
    }

    .title{
        margin-left: 1.4em;
    }
    
    .flecha-izq {
        left: 0;
        margin-left: 1em;
    }
    
    .flecha-der {
        right: 0;
        margin-right: 1em;
    }
}

    




