body {
  background-image: url(/assets/img/landindPage-fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
body::before{
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0%;
  left: 0;
  background: linear-gradient(90deg, rgb(43, 114, 177), #55a6b8 );
  opacity: 0.6;
  z-index: -1;
}

nav img {
  
  width: 3em;
  height: 3em;
}
.contenedor {
  max-width: 1100px;
  margin: 0 auto;
  width: 95%;
}
.containerHeader {
  height: 100vh;
  z-index: 1;
}
.containerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 8rem;
  margin-top: 5%;
}
.containerMain .item {
  color: white;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.671);
}


h1 {
  padding-bottom: 1em;
  /* text-transform: capitalize; */
}

h5{
  padding-bottom: 0.8em;
}


.containerHeader img {
  max-width: 80%;
  padding-bottom: 1em;
  
}
.boton-suscribirse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  font-weight: 500;
  padding: 0.5em 1em;
  text-decoration: none;
  background: white;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.74);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.438);
}

.boton-suscribirse:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  font-weight: 500;
  padding: 0.5em 1em;
  text-decoration: none;
  background: grey;
  border-radius: 3px;
  color: #fff;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.438);
}



@media screen and (max-width: 800px){
  .containerHeader {
    grid-template-columns: repeat(2 1fr);
    align-items: center;
    height: 100%;
    text-align: center;
    margin: 5px;
    
}
.containerMain {
  display: table-cell;
  justify-content: center;
  margin-top: auto;
}
.item {
  margin-top: 50px;
}
}
  
