/* Navbar */
.navbar{
    background-color: black;
    opacity: 0.9;
  }
  .collapse{
    align-items: center;
    margin-left: 25%;
  }
  .navbar-toggler-icon{
    background-color: white;
    border-radius: 20%;
  }
  .carousel-item{
    height: 50vh;
  }

/* Pagina Detalles */

.principal {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 1%, rgba(29,29,131,1) 100%, rgba(0,212,255,1) 100%);
}

.encimaImagen {
    position: absolute;
    top: 270px;
}

/* Footer */

.row img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 15px #FFFFFF;
    -webkit-box-shadow: 0px 0px 15px 15px #4390B5;
    transition: all 0.8s;
}

.copyright-legal{
    background-color: #181a1d;
}